# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
llm_env/

# Data and checkpoints
checkpoints/
*.bin
*.pt
*.log

# OS or Editor folders
.DS_Store
.idea/
.vscode/
